  <!--Footer-->
  <section class="">
    <footer class="text-center text-white" style="background-color: rgb(255, 238, 0)">
      <!-- Grid container -->
      <div class="container p-4 pb-0">
        <!-- Section: CTA -->
        <section class="">
          <p class="d-flex justify-content-center align-items-center">
            <span class="me-3" style="color: black;">Cadastre-se gratuitamente</span>
            <button type="button" class="btn btn-outline-dark btn-rounded">
              Sign up
            </button>
          </p>
        </section>
        <!-- Section: CTA -->
      </div>
      <!-- Grid container -->
  
      <!-- Copyright -->
      <div class="text-center p-3" style="background-color: rgb(49, 24, 0,.1);">
        <span style="color: black;">© 2020 Copyright</span> 
        <a class="text-white"></a>
      </div>
      <!-- Copyright -->
    </footer>
  </section>
<!--/Footer-->