<div class="container-fluid">
    <div class="row d-flex justify-content-center align-items-center">
       
       
        <div class="row col-md-6 mt-5 mb-5 justify-content-center">
          <div class="w-50">  
         
                <h1 class="text-center">Contato</h1>
                <div class="form-group align-items-center ">
                    <label for="exampleFormControlInput1">Nome</label>
                    <input type="text" class="form-control"  style="width: 100%;">
                  </div>
   
                <div class="form-group align-items-center">
                    <label for="exampleFormControlInput1">E-mail</label>
                    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="nome@examplo.com">
                  </div>
         
                  <div class="form-group align-items-center">
                    <label for="exampleFormControlTextarea1">Mensagem</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                  </div>
                 
                  <div class="form-group d-flex justify-content-end">
                      <button class="btn btn-outline-dark">Enviar</button>
                    </div>
            </div>
        </div>
 
        <div class="row d-flex col-md-4 mt-5 mb-5 justify-content-center">
 
           
               
 
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3657.163529750217!2d-46.656944985022164!3d-23.562569584682407!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce59c8e65114ab%3A0x77a9bdfbd2f90d5b!2sAv.%20Paulista%2C%201374%20-%20Bela%20Vista%2C%20S%C3%A3o%20Paulo%20-%20SP%2C%2001310-100!5e0!3m2!1spt-BR!2sbr!4v1641826678144!5m2!1spt-BR!2sbr" width="400" height="250" style="border:0;" allowfullscreen="" loading="lazy"  id="mapa"></iframe>
 
 
                
               
                 
             
          </div>

          <div class="row d-flex col-md-2 mt-5 mb-5 justify-content-center" >
            <div class="text-center">
                <p>Av Paulista, 1900 </p>
                    <p>Jardim Paulista 0000-000</p>
                    <p>São Paulo-SP</p>
               
               
            </div>


        </div>


 
           
        </div>
    </div>    
     
 

