<div class="container-fluid px-0">

  <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="https://i.imgur.com/Khz6zDT.png" class="d-block w-100" alt="bee">
        </div>
        <div class="carousel-item">
          <img src="https://i.imgur.com/HMspoB9.png" class="d-block w-100" alt="devs">
        </div>
        <div class="carousel-item">
          <img src="https://i.imgur.com/A6DHLEl.png" class="d-block w-100" alt="união">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-bs-target="#carouselExampleControls" data-bs-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-bs-target="#carouselExampleControls" data-bs-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  
  <div class="jumbotron jumbotron-fluid bg-color">
      <div class="container py-5">
        <h1 class="display-4">Quem somos nós? O mundo por de trás das telas.</h1>
        <p class="lead"> Quem tanto são os criadores e inventores de toda a ideia e desenvolvimento dela? Os devs Bee são compostos por cinco integrantes, todos devenvolvedores FullSatck e amantes de tecnologia. </p>
      </div>
    </div>
  
    <div class="row">
      <div class="col-md-12 d-flex justify-content-center py-3">
  
        <ul class="social-network">
          <li>
              <a href="https://github.com/barros-bianca" target="_blank" class="icoGit">
                  <img src="https://i.imgur.com/FADSHxH.png" width="360" height="370" >
                </a>
          </li>
  
          <li>
              <a href="https://github.com/JessicaGAl" target="_blank" class="icoGit">
                  <img src="https://i.imgur.com/SXa1aUg.png" width="350" height="320" >
                </a>
          </li>
  
          <li>
            <a href="https://github.com/Rorschach616" target="_blank" class="icoGit">
              <img src="https://i.imgur.com/FyO7jJB.png" width="350" height="350" >
            </a>
          </li>
        
        <li>
          <a href="https://github.com/lucasApalosqui" target="_blank" class="icoGit">
              <img src="https://i.imgur.com/JoHpXQj.png" width="330" height="320"  >
            </a>
      </li>
  
      <li>
          <a href="https://github.com/VCatucci" target="_blank" class="icoGit">
              <img src="https://i.imgur.com/esCrRH4.png" width="300" height="300" >
            </a>
      </li>
  </ul>
  
      </div>
    </div>