<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 mt-5 mb-5">
            <div class="row d-flex justify-content-center">
                <div class="col-md-10">
                    <h1 class="text-center">Sobre</h1>
                    <p class="text-justify">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officia consequatur, laboriosam autem voluptatibus porro sapiente totam quia quidem, fuga reprehenderit beatae aut minima. Distinctio unde voluptatibus quasi maxime totam vel? </p>
                    <p class="text-justify">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officia consequatur, laboriosam autem voluptatibus porro sapiente totam quia quidem, fuga reprehenderit beatae aut minima. Distinctio unde voluptatibus quasi maxime totam vel? </p>
                    <p class="text-justify">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officia consequatur, laboriosam autem voluptatibus porro sapiente totam quia quidem, fuga reprehenderit beatae aut minima. Distinctio unde voluptatibus quasi maxime totam vel? </p>
                </div>
            </div>
        </div>
 
        <div class="col-md-6 mt-5 pr-20">
            <img src="https://images.unsplash.com/photo-1531482615713-2afd69097998?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80" alt="" width="450" height="500" style="vertical-align:middle;margin:0px 0px" class="w-100">
        </div>
 
    </div>
</div>
 

