<!--menu-->
<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container-fluid">
    <div class="row d-flex justify-content-center">
        <a class="navbar-brand" href="#"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-auto">
          
          <li class="nav-item active">
            <a class="nav-link active" aria-current="page" routerLink='/inicio'> <img src="https://i.imgur.com/H4MQpI6.png" alt="imagem bee" width="50px" height="50px" class="img-fluid rounded-circle ">
             
            </a>
           </li>

          <li class="nav-item">
             
             <a class="nav-link active" aria-current="page" routerLink='/contato'><img src="https://i.imgur.com/EN0Ynt8.png" alt="sair" width="30px" height="30px"> Contato</a>
          </li>

          <li class="nav-item">
              
              <a class="nav-link active" aria-current="page" routerLink='/inicio'><img src="https://i.imgur.com/D3inCxi.png" alt="sair" width="30px" height="30px">Sair</a>
          </li>

        </ul>
      </div>
        
        
      </div>
    </div>
  </nav>
  <!--/menu-->