<!--menu-->
<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container-fluid">
    <div class="row d-flex justify-content-start">
        <a class="navbar-brand" href="#">BeeLearn</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-auto">
          
          <li class="nav-item active">
            <img src="https://media.discordapp.net/attachments/913067212330397760/935871579634683954/unknown.png?width=431&height=431" alt="imagem user" width="40px" height="40px" class="img-fluid rounded-circle "> 
           </li>

                     <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>

          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Contato</a>
          </li>

          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Sobre</a>
          </li>
        </ul>
      </div>

      <div class="container">
        <div class="row d-flex  align-items-center justify-content-end">

          <button class="btn btn-outline-dark" type="submit">Sair</button>

        </div>

      </div>
        
        
      </div>
    </div>
  </nav>
  <!--/menu-->
