<div class='bold-line'></div>
<div class='container'>
  <div class='window'>
    <div class='overlay'></div>
    <div class='content'>
      <div class='welcome'>Ola!</div>
      <div class='subtitle'>Estamos quase terminando. Antes de entrar para BeeLearn, você precisa criar uma conta.</div>
      <div class='input-fields'>
        <input [(ngModel)]='user.nomeUsuario' type='text' placeholder='Nome' class ='input-line full-width'>
        <input [(ngModel)]='user.email' type='text' placeholder='Email' class='input-line full-width'>
        <input [(ngModel)]='user.senha' type='password' placeholder='Senha' class='input-line full-width'>
      </div>
      
 <div class='spacing'>ou continuar com <span class='highlight'>Facebook</span>
 
      <div><button  class='ghost-round full-width' (click)='cadastrar()'>Criar conta!</button></div>
      <p class="text-center"> <a routerLink='/entrar'> Logar </a></p>
 
  </div>
  </div>

</div>