<div class="all">
    <div class="col-md-12 capa"></div>
    <div class="container-fluid">
        <div class="row mt-1 mb-2 ml-2">
            <div class="col-md-10"><h2>Nome do Grupo</h2></div>
            <div class="col-md-2 d-flex align-items-center">
                <button href="#novaPostagem" data-toggle="modal" class="btn btn-dark" style="background-color: black;">enviar postagem</button>
            </div>
    </div>
    
    
        
    </div>
    <div class="container">
        <div class="row sticky-top menu">
            <div class="col-md-2 midle p-0 container" style="background-color: #0c0f13">
                <div class="border navl">
                    <ul class="nav flex-column d-flex justify-content-center align-items-center">
                        <li class="nav-item">
                            <button class="btn btn-dark"  style="width: 100%;"
                                >Postagens</button>
                        </li>
                        <li class="nav-item">
                            <button class="btn btn-dark" style="width: 100%;" href="#">Links auxiliares</button>
                        </li>
                        <li class="nav-item">
                            <button class="btn btn-dark" style="width: 100%;" href="#">Apostilas</button>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-8 midle p-0 container d-flex justify-content-center align-items-center"
                style="background-image: url(https://i.imgur.com/IWjuxmF.png); border-style: solid; border-width: 1px; border-color: rgb(161, 161, 161);">
                <h3>Pagina inicial</h3>
            </div>
            
            <div class="col-md-2 midle p-0 container user-label"
                style="background-color: #0c0f13;">
                <div class="navl border">
                    <h5 class="d-flex justify-content-center pt-2 pb-2" style="border-bottom: white; border-style: solid; border-top: none; border-left: none; border-right: none; border-width: 1px; background-color: #0c0f13;">instrutor</h5>
                    <div class="row user-label d-flex justify-content-center align-items-center" style="margin-left: 1px;">
                        <div class="col-md-3">
                            <img src="https://i.imgur.com/IhZNsg2.jpg" alt="" class="rounded-circle">
                        </div>
                        <div class="col-md-9 mt-3">
                            <p>Nome instrutor</p>
                        </div>
                    </div>
                    <h5 class="d-flex justify-content-center pt-2 pb-2"  style="border-bottom: white; border-style: solid; border-left: none; border-right: none; border-width: 1px; background-color: #0c0f13;;">estudantes</h5>
                    <div class="row user-label d-flex justify-content-center align-items-center" style="margin-left: 1px;">
                        <div class="col-md-3">
                            <img src="https://i.imgur.com/IhZNsg2.jpg" alt="" class="rounded-circle">
                        </div>
                        <div class="col-md-9 mt-3">
                            <p>Nome instrutor</p>
                        </div>
                    </div>
                    <div class="row user-label d-flex justify-content-center align-items-center" style="margin-left: 1px;">
                        <div class="col-md-3">
                            <img src="https://i.imgur.com/IhZNsg2.jpg" alt="" class="rounded-circle">
                        </div>
                        <div class="col-md-9 mt-3">
                            <p>Nome instrutor</p>
                        </div>
                    </div>
                    <div class="row user-label d-flex justify-content-center align-items-center" style="margin-left: 1px;">
                        <div class="col-md-3">
                            <img src="https://i.imgur.com/IhZNsg2.jpg" alt="" class="rounded-circle">
                        </div>
                        <div class="col-md-9 mt-3">
                            <p>Nome instrutor</p>
                        </div>
                    </div>
                    <div class="row user-label d-flex justify-content-center align-items-center" style="margin-left: 1px;">
                        <div class="col-md-3">
                            <img src="https://i.imgur.com/IhZNsg2.jpg" alt="" class="rounded-circle">
                        </div>
                        <div class="col-md-9 mt-3">
                            <p>Nome instrutor</p>
                        </div>
                    </div>
                </div>
             
            </div>


        </div>
        <div class="column">
            <div class="col-md-6 post d-flex container mt-5 mb-5">
                <div class="post-square">
                    <h2 class="pb-5">Titulo da postagem</h2>
                    <p class="post-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui quasi eveniet voluptatem perferendis, saepe dicta nihil adipisci quisquam corporis alias officia aperiam molestias inventore laborum corrupti! Quisquam praesentium dolor quibusdam. Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium distinctio quia error, cumque nostrum non numquam voluptate dicta perferendis! Natus exercitationem officia quae ducimus, inventore hic dignissimos voluptas voluptatum tempore?</p>
                    <div class="d-flex justify-content-center">
                        <button class="btn btn-light mr-5 but">Editar</button>
                        <button class="btn btn-light ml-5 but">Deletar</button>
                    </div>
               
                </div>
            </div>
            <div class="col-md-6 post d-flex container mt-5">
                <div class="post-square">
                    <h2 class="pb-5">Titulo da postagem</h2>
                    <p class="post-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui quasi eveniet voluptatem perferendis, saepe dicta nihil adipisci quisquam corporis alias officia aperiam molestias inventore laborum corrupti! Quisquam praesentium dolor quibusdam. Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium distinctio quia error, cumque nostrum non numquam voluptate dicta perferendis! Natus exercitationem officia quae ducimus, inventore hic dignissimos voluptas voluptatum tempore?</p>
                    <div class="d-flex justify-content-center">
                        <button class="btn btn-light mr-5 but">Editar</button>
                        <button class="btn btn-light ml-5 but">Deletar</button>
                    </div>
                </div>
            </div>
            <div class="col-md-6 post d-flex container mt-5">
                <div class="post-square">
                    <h2 class="pb-5">Titulo da postagem</h2>
                    <p class="post-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui quasi eveniet voluptatem perferendis, saepe dicta nihil adipisci quisquam corporis alias officia aperiam molestias inventore laborum corrupti! Quisquam praesentium dolor quibusdam. Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium distinctio quia error, cumque nostrum non numquam voluptate dicta perferendis! Natus exercitationem officia quae ducimus, inventore hic dignissimos voluptas voluptatum tempore?</p>
                    <div class="d-flex justify-content-center">
                        <button class="btn btn-light mr-5 but">Editar</button>
                        <button class="btn btn-light ml-5 but">Deletar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

 
  <!-- Modal -->
  <div class="modal fade" id="novaPostagem" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content" id="hexagono">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Nova postagem</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="titulo">Título</label>
                    <input type="text" class="form-control" id="titulo" placeholder="Digite o título">
                </div>
                <div class="form-group">
                    <label for="titulo">Descrição</label>
                    <textarea name="texto" id="texto" rows="3" class="form-control"
                        placeholder="Digite a descrição"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-dark">Confirmar</button>
            </div>
        </div>
    </div>
</div>
