<div class="all">
    <div class="col-md-12 capa"></div>
    <h2 class="mb-4 mt-4 ml-5">Nome do Grupo</h2>
    <div class="container">
        <div class="row">
            
        </div>
            
        
        <div class="row sticky-top menu">
            <div class="col-md-2 midle p-0 container" style="background-color: #0c0f13">
                <div class="border navl">
                    <ul class="nav flex-column d-flex justify-content-center align-items-center">
                    <li class="nav-item ">
                        <a class="nav-link active" href="#">Postagens</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Links Auxiliares</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Apostilas</a>
                    </li>
                </ul></div>
                </div>
            <div class="col-md-8 midle p-0 container d-flex justify-content-center align-items-center" style="background-image: url(https://i.imgur.com/IWjuxmF.png); border-style: solid; border-width: 1px; border-color: rgb(161, 161, 161);"><h3>Pagina inicial</h3></div>
            <div class="col-md-2 midle p-0 container border" style="background-color: #0c0f13; border-style: solid; border-width: 1px; border-color: rgb(161, 161, 161);"></div>
            

        </div>
        <div class="row ">
            <div class="col-md-7 post d-flex container ">
                <p class="mt-5">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quia consequatur soluta doloremque ipsa hic,
                    alias perferendis laudantium at quae voluptates rerum optio distinctio esse nulla delectus fugiat,
                    accusantium voluptatibus omnis. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt unde
                    velit, laborum iste labore corporis quia iusto alias inventore aliquid magnam architecto dignissimos,
                    non impedit neque, hic a cumque atque. Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis
                    culpa consequuntur explicabo a quod, optio reiciendis consequatur veritatis, in, beatae eaque repellat
                    asperiores aliquam non voluptas vitae illum adipisci voluptatibus.Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quia consequatur soluta doloremque ipsa hic,
                    alias perferendis laudantium at quae voluptates rerum optio distinctio esse nulla delectus fugiat,
                    accusantium voluptatibus omnis. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt unde
                    velit, laborum iste labore corporis quia iusto alias inventore aliquid magnam architecto dignissimos,
                    non impedit neque, hic a cumque atque. Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis
                    culpa consequuntur explicabo a quod, optio reiciendis consequatur veritatis, in, beatae eaque repellat
                    asperiores aliquam non voluptas vitae illum adipisci voluptatibus.Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quia consequatur soluta doloremque ipsa hic,
                    alias perferendis laudantium at quae voluptates rerum optio distinctio esse nulla delectus fugiat,
                    accusantium voluptatibus omnis. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt unde
                    velit, laborum iste labore corporis quia iusto alias inventore aliquid magnam architecto dignissimos,
                    non impedit neque, hic a cumque atque. Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis
                    culpa consequuntur explicabo a quod, optio reiciendis consequatur veritatis, in, beatae eaque repellat
                    asperiores aliquam non voluptas vitae illum adipisci voluptatibus.Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quia consequatur soluta doloremque ipsa hic,
                    alias perferendis laudantium at quae voluptates rerum optio distinctio esse nulla delectus fugiat,
                    accusantium voluptatibus omnis. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt unde
                    velit, laborum iste labore corporis quia iusto alias inventore aliquid magnam architecto dignissimos,
                    non impedit neque, hic a cumque atque. Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis
                    culpa consequuntur explicabo a quod, optio reiciendis consequatur veritatis, in, beatae eaque repellat
                    asperiores aliquam non voluptas vitae illum adipisci voluptatibus.Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quia consequatur soluta doloremque ipsa hic,
                    alias perferendis laudantium at quae voluptates rerum optio distinctio esse nulla delectus fugiat,
                    accusantium voluptatibus omnis. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt unde
                    velit, laborum iste labore corporis quia iusto alias inventore aliquid magnam architecto dignissimos,
                    non impedit neque, hic a cumque atque. Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis
                    culpa consequuntur explicabo a quod, optio reiciendis consequatur veritatis, in, beatae eaque repellat
                    asperiores aliquam non voluptas vitae illum adipisci voluptatibus.Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quia consequatur soluta doloremque ipsa hic,
                    alias perferendis laudantium at quae voluptates rerum optio distinctio esse nulla delectus fugiat,
                    accusantium voluptatibus omnis. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt unde
                    velit, laborum iste labore corporis quia iusto alias inventore aliquid magnam architecto dignissimos,
                    non impedit neque, hic a cumque atque. Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis
                    culpa consequuntur explicabo a quod, optio reiciendis consequatur veritatis, in, beatae eaque repellat
                    asperiores aliquam non voluptas vitae illum adipisci voluptatibus.Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quia consequatur soluta doloremque ipsa hic,
                    alias perferendis laudantium at quae voluptates rerum optio distinctio esse nulla delectus fugiat,
                    accusantium voluptatibus omnis. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt unde
                    velit, laborum iste labore corporis quia iusto alias inventore aliquid magnam architecto dignissimos,
                    non impedit neque, hic a cumque atque. Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis
                    culpa consequuntur explicabo a quod, optio reiciendis consequatur veritatis, in, beatae eaque repellat
                    asperiores aliquam non voluptas vitae illum adipisci voluptatibus.Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quia consequatur soluta doloremque ipsa hic,
                    alias perferendis laudantium at quae voluptates rerum optio distinctio esse nulla delectus fugiat,
                    accusantium voluptatibus omnis. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt unde
                    velit, laborum iste labore corporis quia iusto alias inventore aliquid magnam architecto dignissimos,
                    non impedit neque, hic a cumque atque. Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis
                    culpa consequuntur explicabo a quod, optio reiciendis consequatur veritatis, in, beatae eaque repellat
                    asperiores aliquam non voluptas vitae illum adipisci voluptatibus.</p>
            </div>
        </div>
      
       
        
        

    </div>

</div>