<!-- Container principal -->
<div class="bold-line">

<div id="main-container " class="container">
  <div class="row">
    <!--Imagem de capa-->
    <div class="col">
      <img class="card-img-bottom" src={{grupo.urlImagem}} height="400px">
    </div>
  </div>


  <label id="nome-grupo" class="fs-1 fw-bold titulos">{{grupo.nomeGrupo}}</label>
  
<div class="col-md-12">
  <div class="d-flex justify-content-end">
  <button type="button" class="btn  text-light" data-bs-toggle="modal" data-bs-target="#editarGrupo" style="background-color:   #100f0d;">Editar
    grupo</button>

  <button type="button" class="btn text-light ms-2" data-bs-toggle="modal"
    data-bs-target="#deleteGrupo" style="background-color:   #100f0d;" >Apagar grupo</button>
  </div>
</div>

  <div class="row mt-3">

    <!--Botoes-->
    <div class="d-flex justify-content-center">
      
      <button type="button" class="btn btn-outline-dark ms-2" data-bs-toggle="modal" data-bs-target="#criarPost" style="background-color:   #f4c320;" #5d5c5c>Nova
        Postagem</button>

      
    </div>

    <hr class="mt-3">
  </div>

  <div class="row d-flex justify-content-center">
    
    <!--Postagens-->
    <div class="card mt-4 col-8" *ngFor='let item of grupo.postagem'>
      <div class="card-title titulos">
        <div id="titulo" class="fw-bold mt-2 fs-3">{{item.tituloPost}}</div>
        
      </div>
      <div class="card-body">
        <blockquote class="blockquote mb-0">
          <p>{{item.texto}}</p>
          <footer class="blockquote-footer fs-6 mt-2">{{item.data | date: 'dd/MM/yyyy'}} | {{item.data | date: 'HH:mm'}}
            <p class="card-text"><small class="text-muted">
              Postado por: {{item.usuario.nome}}
            </small></p>
          </footer>
     
        </blockquote>
      </div>
    </div>

    
  </div>
</div>


  <!--MODAL EDITAR GRUPO-->

  <div class="modal fade" id="editarGrupo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true" data-bs-backdrop="false">
    <div class="modal-dialog" role="document">
      <div class="modal-content modal-style">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Editar Grupo</h5>
          <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body">
          <div class="form-group">
            <label for="exampleFormControlInput1">Nome do Grupo</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" [(ngModel)]='grupo.nomeGrupo'>
          </div>

          <div class="form-group">
            <label for="exampleFormControlInput1">Descrição</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" [(ngModel)]='grupo.descricao'>
          </div>

          <div class="form-group">
            <label for="exampleFormControlInput1">Imagem</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" [(ngModel)]='grupo.urlImagem'>
          </div>


        </div>


        <div class="modal-footer">
          <button type="button" class="btn " data-bs-dismiss="modal"
            routerLink='/grupo/:idGrupo'>Cancelar</button>
          <button type="button" class="btn " (click)='atualizar()'>Salvar</button>
        </div>
      </div>
    </div>
  </div>



  <!--MODAL DELETE GRUPO-->

  <div class="modal fade" id="deleteGrupo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true" data-bs-backdrop="false">
    <div class="modal-dialog" role="document">
      <div class="modal-content modal-style">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Apagar</h5>
          <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <h5>Tem certeza que deseja deletar este grupo? Todas as postagens também serão apagadas.</h5>
          <h3 class="text-danger">Grupo: {{grupo.nomeGrupo}}</h3>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn " data-bs-dismiss="modal">Cancelar</button>
          <button type="button" class="btn " data-bs-dismiss="modal" (click)='apagar()'>Confirmar</button>
        </div>
      </div>
    </div>
  </div>


  <!--MODAL POST POSTAGEM-->
  <div class="modal fade" id="criarPost" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado"
    aria-hidden="true" data-bs-backdrop="false">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content modal-style">
        <div class="modal-header">
          <h5 class="modal-title" id="TituloModalCentralizado">Nova Postagem</h5>
          <button type="button" class="close" data-bs-dismiss="modal" aria-label="Fechar">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

          <div class="form-group">
            <label for="titulo">Título</label>
            <input [(ngModel)]='postagem.tituloPost' type="text" class="form-control" id="titulo"
              placeholder="Digite o título">
          </div>

          <div class="form-group">
            <label for="titulo">Matéria</label>
            <textarea [(ngModel)]='postagem.materia' class="form-control" name="texto" id="texto" rows="3"></textarea>
          </div>

          <div class="form-group">
            <label for="texto">Texto</label>
            <textarea [(ngModel)]='postagem.texto' class="form-control" name="texto" id="texto" rows="3"></textarea>
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn " data-bs-dismiss="modal">Cancelar</button>
          <button type="button" class="btn " (click)='publicar()'   data-bs-dismiss="modal">Publicar</button>
        </div>
      </div>
    </div>
  </div>

 
 