@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');


.back-cont {
    background-image: url(https://i.imgur.com/51ZmREq.png);
    background-size: cover;
    width: 100vw;
    height: 110vh;
    background-repeat: no-repeat;
    
  
}

.logo{
    width: 350px;
    margin-top:  -40px;
}

.tabel-cad{
    border-radius: 10px;
    border-style: solid;
    border-width: 1.2px;
    box-shadow: 5px 10px 4px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 40px;
}

.btnn{
    border-style: solid;
    border-width: 1px;
    border-color: white;
    width: 100px;
    text-align: center;
    margin-bottom: 20px;
}

.cad-txt{
    font-family: 'Indie Flower', cursive;
    
}

.form{
    margin-top: -45px;
    
}

