<div class='bold-line'></div>
<div class='container'>
  <div class='window'>
    <div class='overlay'></div>
    <div class='content'>
      <div class='welcome'>BeeLogin</div>
      <div class='subtitle'> Bem vinde!</div>
      <div class='input-fields'>
        
        <input type='email' placeholder='Email' class='input-line full-width'>
        <input type='senha' placeholder='Senha' class='input-line full-width'>

      <p class="text-center"> Nao tem uma conta ainda ? <a routerLink='/cadastrar'>cadastre-se</a>
     </p>

     <Div>
    
     </Div>
      <div><button class='ghost-round full-width'>Logar!</button></div>
    </div>
  </div>
</div>