<div class=" container-fluid bg-preto" >
    <div class="row justify-content-center">
        <div class="container">
        
            <div class="row card  d-flex align-items-center flex-row justify-content-center mt-5 p-3 ml-5 bg-amarelo-card" style="max-width: 1000px;">
        
                <div class="col-4">
                
                <div class="row d-flex justify-content-center mr-4 mb-lg-0">
                        <img src="{{foto}}" width="200px" height="200px" alt="" class="rounded-circle">
                </div>
                </div>
              
                <div class="col-4">

                    <h3>Bem vinde, {{nomeUsuario}}!</h3>
                    <h6>{{email}}</h6>
                    <h6>{{tipo}}</h6>
                       
                            <button class="btn btn-dark mr-2" data-toggle="modal" data-target="#criargrupo">Criar Grupo</button>


                </div>
        
                <div class="col-4 card">
                    <div class="p-1">
                        <h6 class="text-justify" placeholder='Conte sobre voce'>bio</h6>

                    </div>
                  
        
                </div>
        
               
        </div>
        
        
        
        <div class="container">
            <div class="row  d-flex justify-content-center  mt-3" >

              <div class="container mb-5 mt-5" id="postagens">

                <nav>
                  <div class="nav nav-tabs d-flex justify-content-center" id="nav-tab" role="tablist">
              
                    <a class="nav-item nav-link active text-secondary font-weight-bold" id="nav-todasPostagens-tab" data-toggle="tab" href="#todasPostagens" role="tab" aria-controls="nav-todasPostagens" aria-selected="true">Todas as Postagens</a>
              
                    <a class="nav-item nav-link text-secondary font-weight-bold" id="nav-minhasPostagens-tab" data-toggle="tab" href="#minhasPostagens" role="tab" aria-controls="nav-minhasPostagens" aria-selected="false">Minhas Postagens</a>
              
                    <a class="nav-item nav-link text-secondary font-weight-bold" id="nav-postagemTema-tab" data-toggle="tab" href="#postagemTema" role="tab" aria-controls="nav-postagemTema" aria-selected="false">Postagens por tema</a>
              
                  </div>
                </nav>
              
                
<!-- Button trigger modal -->
<!-- Modal -->
<div class="modal fade" id="criargrupo" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content" id="hexagono">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Novo Grupo</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="form-group">
                    <label for="nomeGrupo">Título</label>
                    <input [(ngModel)]='grupo.nomeGrupo' type="text" class="form-control" id="titulo" placeholder="Digite o título">
                </div>
                
                <div class="form-group">
                    <label for="descricao">Descrição</label>
                    <textarea [(ngModel)]='grupo.descricao'name="texto" id="texto" rows="3" class="form-control"
                        placeholder="Digite a descrição"></textarea>
                </div>

                <div class="form-group">
                    <label for="foto">Foto de capa</label>
                    <input [(ngModel)]='grupo.urlImagem' type="text" class="form-control" id="foto" placeholder="Insira um link">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-dark" (click) = 'cadastrar()'>Confirmar</button>
            </div>
        </div>
    </div>
</div>
