<div class="container">

    <div class="row justify-content-center mt-3">
        <div class="col-md-9">


            <nav class="nav nav-justified p-0 m-0" *ngIf='listaGrupo.length'>
                <a class="nav-link active btn-outline text-light bg-gradient" style="background-color:   #a0a0a0;"
                id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home"  role="tab" aria-controls="pills-home" aria-selected="true">Meus Grupos</a>
                <a class="nav-link text-light bg-gradient" style="background-color:   #a0a0a0;" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">Minhas
                    Postagens</a>
                <a class="nav-link text-light bg-gradient" style="background-color:   #a0a0a0;" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-contact" type="button" role="tab" aria-controls="pills-contact" aria-selected="false">Explore</a>
            </nav>

            <div class="tab-content" id="pills-tabContent">
                
                <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                    <div class="row justify-content-center align-items-end">
                        <div class="col-md-3" *ngFor='let i of listaGrupo'>
            
                            <div class="card-columns">
                                <div class="card">
                                    <img [routerLink]="['/grupo' , i.idGrupo]"  src="{{i.urlImagem}}"
                                        class="card-img-top" style="cursor: pointer;">
                
                                    <div class="card-body">
                                        <h5 class="card-title">{{i.nomeGrupo}}</h5>
                
                                    </div>
                                </div>
                
                            </div>
                
                        </div>

                    </div>               
                </div>
            
                <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                        <div class="card-columns">
                          <div class="card text-center" *ngFor='let item of user.postagem'>
                            <div class="card-body">
                              <h5 class="card-title m-0">{{item.tituloPost}}</h5>
                              <p class="card-text mt-3">{{item.texto}}</p>
                              <p class="card-text"><small class="text-muted">
                                {{item.data | date: 'dd/MM/yyyy'}} às {{item.data | date: 'HH:mm'}}
                              </small></p>
                  
                            </div>
                            <button id="editar" type="button" class="btn btn-outline-success d-flex justify-content-end" (click)='findByIdGrupo()'  [routerLink]="['/post-edit', item.idPost]">Editar</button>

                          </div>
                        </div>
                  
                      
                </div>
            
                <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">Explore</div>
            
              </div>

        </div>

    </div>
</div>

</div>
