.ghost-round {
  cursor: pointer;
  background: none;
  border: 3px solid rgba(221, 172, 11, 0.753);
  border-radius: 25px;
  color: rgba(209, 51, 23, 0.849);
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
  font-size: 19px;
  font-size: 1.2rem;
  font-family: roboto;
  font-weight: 300;
  line-height: 2.5em;
  margin-top: auto;
  margin-bottom: 25px;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.ghost-round:hover {
  background: rgba(240, 198, 11, 0.404);
  color: rgba(40, 77, 177, 0.829);
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.full-width {
  width: 100%;
}