<div class="container-fluid">

    <div class="row align-items-center">
    <div class="col-md-6">

        <div class="row d-flex justify-content-center">
            <div class="col-md-6">
            <h1 class="fs-54">Bee   Learn </h1>
               
            </div>
        </div>

    </div>
    

    <div class="row d-flex justify-content-center">
<div class="col-md-6">

    <img src="https://media.discordapp.net/attachments/913067212330397760/933421531223195678/138a42d347f4a007928c3e5c317e5f48.jpg?width=431&height=431" alt="" width="500px"height="500px">
       
        
         <a class="btn btn-dark  mr-5 fs-18" routerLink='/entrar'>Entrar</a>
         <a class="btn btn-dark fs-18" routerLink="/Cadastrar">Cadastrar</a>
   
           
     </div>
    </div>
</div>
</div>

<div class="container-fluid2 ">
    
    <div class="row align-items-center">
    <div class="col-md-6 ">

        <div class="row d-flex justify-content-center">
            <div class="col-md-6 fs-18-2">Sobre nos
            <img src="https://media.discordapp.net/attachments/913067212330397760/933421531223195678/138a42d347f4a007928c3e5c317e5f48.jpg?width=431&height=431" alt=""width="400px"height="400px">
                
               
            </div>
        </div>

    </div>
    <div class="row d-flex justify-content-center">
        <div class="col-md-6">
        <h1 class="text-white fs-12">É engraçado, eu penso em inú...</h1>
                   
             </div>
            </div>
            </div>
            </div>