<div>
  <img src="https://i.imgur.com/JXx8sgd.png" alt="">
</div>

  <div class="row justify-content-end">
 <div class="col-md-3 d-flex">
      <button class='ghost-round full-width mr-3' routerLink='/entrar'>Logar</button>
      <button class='ghost-round full-width mr-3' routerLink='/cadastrar'>Cadastre-se</button>
  </div>
</div>


<div>
  <img src="https://i.imgur.com/GXiB5VU.png" alt="">
</div>

<div>
  <img src="https://i.imgur.com/ZbAUZ5F.png" alt="">
</div>

<div>
  <img src="https://i.imgur.com/Khz6zDT.png" alt="">
</div>      

<div>
  <img src="https://i.imgur.com/HMspoB9.png" alt="">
</div>   

