<div class="container-fluid">

    <div class="row align-items-center">
    <div class="col-md-6">

        <div class="row d-flex justify-content-center">
            <div class="col-md-6">
            <h1 class="fs-54">Bee   Learn </h1>
               
            </div>
        </div>

    </div>
    

    <div class="row d-flex justify-content-center">
<div class="col-md-6">

    <img src="https://media.discordapp.net/attachments/913067212330397760/933421531223195678/138a42d347f4a007928c3e5c317e5f48.jpg?width=431&height=431" alt="" width="500px"height="500px">
       
        
         <a class="btn btn-dark  mr-5 button " routerLink='/entrar'>Entrar</a>
         <a class="btn btn-dark button" routerLink="/cadastrar">Cadastrar</a>
   
           
     </div>
    </div>
</div>

</div>

<div class="container-fluid2">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="https://media.discordapp.net/attachments/913067212330397760/933421531223195678/138a42d347f4a007928c3e5c317e5f48.jpg?width=431&height=431" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title fs-18-2">Sobre nós </h5>
          <p class="card-text text-white">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
    </div>
  </div>
  
  
  <div class="container-fluid">
    <div class="row no-gutters">
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title fs-18">Perfil professor</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>

      <div class="col-md-4">
        <img src="https://media.discordapp.net/attachments/913067212330397760/933421531223195678/138a42d347f4a007928c3e5c317e5f48.jpg?width=431&height=431" alt="...">
      </div>
    </div>
  </div>

  <div class="container-fluid2">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="https://media.discordapp.net/attachments/913067212330397760/933421531223195678/138a42d347f4a007928c3e5c317e5f48.jpg?width=431&height=431" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title fs-18-2">Perfil estudante</h5>
          <p class="card-text text-white">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
    </div>
  </div>

 
 <div class="container-fluid">
    <div class="row d-flex justify-content-center">
      <div class="col-md-12">
        <div class="card-body">
          <h5 class="card-title fs-18 justify-content-center">Deevs Bee</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
      </div>
    
      <div class="col-md-4 rounded-circle">
        <img src="https://media.discordapp.net/attachments/913067212330397760/933421531223195678/138a42d347f4a007928c3e5c317e5f48.jpg?width=431&height=431" alt="" width="100px"height="100px">
      </div>

      <div class="col-md-4 rounded-circle">
        <img src="https://media.discordapp.net/attachments/913067212330397760/933421531223195678/138a42d347f4a007928c3e5c317e5f48.jpg?width=431&height=431" alt="..." width="100px"height="100px">
      </div>

      <div class="col-md-4 img33">
        <img src="https://media.discordapp.net/attachments/913067212330397760/933421531223195678/138a42d347f4a007928c3e5c317e5f48.jpg?width=431&height=431" alt="..."width="100px"height="100px">
      </div>
    </div>
  </div>